<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shoes</ion-title>
  </ion-toolbar>

  <!-- Back button for navigation -->
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Button to get user's current location -->
  <ion-button  (click)="getCurrentLocation()" color="primary">
    Click me,For great deals near me!!
  </ion-button>
  <div *ngIf="latitude && longitude" style="padding: 0 16px;">
    <!-- Display latitude and longitude after location is fetched -->
    <p><strong>Latitude:</strong> {{ latitude }}</p>
    <p><strong>Longitude:</strong> {{ longitude }}</p>
    <p>This is your information we will find you good deals</p>
  </div>

  <ion-grid>
    <ion-row>
      <!-- Shoe 1 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <!-- Display image how the product looks like , name of the produc, price, cheak out the product and a like system-->
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a4e06622-576f-4b92-a3d9-fa94886bafda/AIR+MAX+DN8.png"/>
          <h2>Nike Air Max Dn8</h2>
          <p>€189.99</p>
          <!-- Toggle Like functionality -->
          <p (click)="toggleLike('shoe1')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe1') ? 'Liked ❤️' : ' Like' }}
          </p>
           <!-- Button to view the shoe details -->
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-og-shoes-qs1CN4/DX0755-001">View Shoe</ion-button>
        </div>
      </ion-col>

      <!-- Shoe 2 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b7d9211c-26e7-431a-ac24-b0540fb3c00f/AIR+FORCE+1+%2707.png"/>
          <h2>Nike Air Force 1 '07</h2>
          <p>€119.99</p>
          <p (click)="toggleLike('shoe2')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe2') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-force-1-07-shoes-pNCCVs/CW2288-111">View Shoe</ion-button>
        </div>
      </ion-col>
            <!-- Shoe 3 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/47b7945e-a379-4c24-b9df-98f4eef178e5/NIKE+AIR+MAX+PLUS.png"/>
                <h2>Nike Air Max Plus</h2>
                <p>€189.99</p>
                <p (click)="toggleLike('shoe3')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe3') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-shoes-x9kqkJ/DM0032-013">View Shoe</ion-button>
              </div>
            </ion-col>
      
            <!-- Shoe 4 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/f52752b1-4e7b-473b-8843-2583119fdde6/NIKE+AIR+MAX+PLUS+OG.png"/>
                <h2>Nike Air Max Plus OG</h2>
                <p>€189.99</p>
                <p (click)="toggleLike('shoe4')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe4') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-og-shoes-qs1CN4/DX0755-001">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe  5-->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/332404e1-d2b8-4dfc-a20e-ebc85f468699/NIKE+AIR+MAX+95.png"/>
          <h2>Nike Air Max 95</h2>
          <p>€189.99</p>
          <p (click)="toggleLike('shoe5')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe5') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-95-shoes-qnH1M6/FV4710-002">View Shoe</ion-button>
        </div>
      </ion-col>

      <!-- Shoe 6 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/5bc5bc81-9e76-444f-93ce-c7e1446f17af/AIR+MAX+DN.png"/>
          <h2>Nike Air Max Dn</h2>
          <p>€169.99</p>
          <p (click)="toggleLike('shoe6')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe6') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-dn-shoes-na8hi6gI/DV3337-101">View Shoe</ion-button>
        </div>
      </ion-col>
            <!-- Shoe 7 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/d21ab10d-19a5-4973-9db0-9231b49955bb/NIKE+AIR+MAX+PLUS+UTILITY.png"/>
                <h2>Nike Air Max Plus Utility</h2>
                <p>€199.99</p>
                <p (click)="toggleLike('shoe7')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe7') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-utility-shoes-a4dXzncX/FJ4232-100">View Shoe</ion-button>
              </div>
            </ion-col>
      
            <!-- Shoe 8 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b1bcbca4-e853-4df7-b329-5be3c61ee057/NIKE+DUNK+LOW+RETRO.png"/>
                <h2>Nike Dunk Low Retro</h2>
                <p>€119.99</p>
                <p (click)="toggleLike('shoe8')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe8') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/dunk-low-retro-shoe-RPBjMHNC/DD1391-100?_gl=1*1y6xezp*_up*MQ..*_gs*MQ..&gclid=CjwKCAjwwqfABhBcEiwAZJjC3rcTunQqFK0Uf8owGEqOq95_rJPPfOgYItLBM9h_3AVwmZmM9bWnLhoC3pgQAvD_BwE&gclsrc=aw.ds&gbraid=0AAAAADq9vlOrQ5gtjsFJtr_Zb1uOwKIJX">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 9 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/cbf96f70d8b54fb7a91c22b8d5edd07d_9366/Handball_Spezial_Shoes_Brown_IF6490_01_standard.jpg"/>
                <h2>Handball Spezial Shoes</h2>
                <p>€110</p>
                <p (click)="toggleLike('shoe9')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe9') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/handball-spezial-shoes/IF6490.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 10 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/ed0d15212f744f6ab1fe9b231942d26e_9366/Samba_OG_Shoes_Silver_JR0035_01_00_standard.jpg"/>
                <h2>Samba OG Shoes</h2>
                <p>€120</p>
                <p (click)="toggleLike('shoe10')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe10') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/samba-og-shoes/JR0035.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 11 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/6218f8cc55984cfe92d1a96d0110ac7e_9366/Handball_Spezial_Shoes_Black_DB3021_01_00_standard.jpg"/>
                <h2>Handball Spezial Shoes</h2>
                <p>€110</p>
                <p (click)="toggleLike('shoe11')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe11') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 12 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/2cfd779b0558498c9be3915fb66a3719_9366/Gazelle_Bold_Shoes_Pink_JQ7777_01_standard.jpg"/>
                <h2>Gazelle Bold Shoes</h2>
                <p>€120</p>
                <p (click)="toggleLike('shoe12')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe12') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/gazelle-bold-shoes/JQ7777.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 13 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/023d55cc116d41fba47a0dbe32c56ebf_9366/SL_72_OG_Shoes_Brown_JI0189_01_standard.jpg"/>
                <h2>SL 72 OG Shoes</h2>
                <p>€110</p>
                <p (click)="toggleLike('shoe13')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe13') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/sl-72-og-shoes/JI0189.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 14 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/609283da5a364b6ba11d109b4a2ff1d5_9366/Samba_OG_Shoes_Black_JI2735_01_standard.jpg"/>
                <h2>SAMBA OG SHOES</h2>
                <p>€130</p>
                <p (click)="toggleLike('shoe14')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe14') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/samba-og-shoes/JI2735.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 15 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/c2e7843b6be64924943406cfaa899b82_9366/Adizero_EVO_SL_Shoes_White_JH6206_01_00_standard.jpg"/>
                <h2>Adizero EVO SL Shoes</h2>
                <p>€150</p>
                <p (click)="toggleLike('shoe15')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe15') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/adizero-evo-sl-shoes/JH6206.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 16 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/aa77fc3d70fa4168914b479780ec95c6_9366/Adizero_Adios_Pro_4_Shoes_Black_JR6365_HM3_hover.jpg"/>
                <h2>Adizero Adios Pro 4 Shoes</h2>
                <p>€250</p>
                <p (click)="toggleLike('shoe16')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe16') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/adizero-adios-pro-4-shoes/JR6365.html?pr=glpmen_rr&slot=1&rec=ds">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 17 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/b1af480e387b433aa7b46ace7b74588e_9366/Adifom_Supernova_Shoes_Black_IF9541_01_standard.jpg"/>
                <h2>Adifom Supernova Shoes</h2>
                <p>€60</p>
                <p (click)="toggleLike('shoe17')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe17') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/adifom-supernova-shoes/IF9541.html?pr=taxonomy_rr&slot=4&rec=mt">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 18 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/378d5a44db224c059d54e00ebf448773_9366/F50_League_Laceless_Firm-Multi-Ground_Boots_White_IE1239_HM3_hover.jpg"/>
                <h2>F50 League Laceless Firm/Multi-Ground Boots</h2>
                <p>€100</p>
                <p (click)="toggleLike('shoe18')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe18') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/f50-league-laceless-firm-multi-ground-boots/IE1239.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 19 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/ff8d5a32b24e4afd9af9749e2163549c_9366/F50_League_Mid_Firm-Multi-Ground_Boots_Kids_Blue_JP7264_22_model.jpg"/>
                <h2>F50 League Mid Firm/Multi-Ground Boots Kids</h2>
                <p>€65</p>
                <p (click)="toggleLike('shoe19')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe19') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/f50-league-mid-firm-multi-ground-boots-kids/JP7264.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 20 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/35153ff10f4e487cb2cb0b888881db4f_9366/Predator_League_Fold-Over_Tongue_Firm-Multi-Ground_Boots_White_ID1321_22_model.jpg"/>
                <h2>Predator League Fold-Over Tongue Firm/Multi-Ground Boots</h2>
                <p>€100</p>
                <p (click)="toggleLike('shoe20')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe20') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.adidas.ie/predator-league-fold-over-tongue-firm-multi-ground-boots/ID1321.html">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe 21 -->
             <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/95e0f56be1454817956152278bd00643_9366/Predator_Elite_Fold-Over_Tongue_Firm_Ground_Boots_White_ID8965_22_model.jpg"/>
                <h2>Predator Elite Fold-Over Tongue Firm Ground Boots</h2>
                <p>€280</p>
                <p (click)="toggleLike('shoe21')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe21') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="">View Shoe</ion-button>
              </div>
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>