<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shoes</ion-title>
  </ion-toolbar>

  <!-- Back button for navigation -->
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Button to get user's current location -->
  <ion-button  (click)="getCurrentLocation()" color="primary">
    Click me,For great deals near me!!
  </ion-button>
  <div *ngIf="latitude && longitude" style="padding: 0 16px;">
    <!-- Display latitude and longitude after location is fetched -->
    <p><strong>Latitude:</strong> {{ latitude }}</p>
    <p><strong>Longitude:</strong> {{ longitude }}</p>
    <p>This is your information we will find you good deals</p>
  </div>

  <ion-grid>
    <ion-row>
      <!-- Shoe 1 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <!-- Display image how the product looks like , name of the produc, price, cheak out the product and a like system-->
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a4e06622-576f-4b92-a3d9-fa94886bafda/AIR+MAX+DN8.png"/>
          <h2>Nike Air Max Dn8</h2>
          <p>€189.99</p>
          <!-- Toggle Like functionality -->
          <p (click)="toggleLike('shoe1')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe1') ? 'Liked ❤️' : ' Like' }}
          </p>
           <!-- Button to view the shoe details -->
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-og-shoes-qs1CN4/DX0755-001">View Shoe</ion-button>
        </div>
      </ion-col>

      <!-- Shoe 2 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b7d9211c-26e7-431a-ac24-b0540fb3c00f/AIR+FORCE+1+%2707.png"/>
          <h2>Nike Air Force 1 '07</h2>
          <p>€119.99</p>
          <p (click)="toggleLike('shoe2')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe2') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-force-1-07-shoes-pNCCVs/CW2288-111">View Shoe</ion-button>
        </div>
      </ion-col>
            <!-- Shoe 3 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/47b7945e-a379-4c24-b9df-98f4eef178e5/NIKE+AIR+MAX+PLUS.png"/>
                <h2>Nike Air Max Plus</h2>
                <p>€189.99</p>
                <p (click)="toggleLike('shoe3')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe3') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-shoes-x9kqkJ/DM0032-013">View Shoe</ion-button>
              </div>
            </ion-col>
      
            <!-- Shoe 4 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/f52752b1-4e7b-473b-8843-2583119fdde6/NIKE+AIR+MAX+PLUS+OG.png"/>
                <h2>Nike Air Max Plus OG</h2>
                <p>€189.99</p>
                <p (click)="toggleLike('shoe4')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe4') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-og-shoes-qs1CN4/DX0755-001">View Shoe</ion-button>
              </div>
            </ion-col>
             <!-- Shoe  5-->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/332404e1-d2b8-4dfc-a20e-ebc85f468699/NIKE+AIR+MAX+95.png"/>
          <h2>Nike Air Max 95</h2>
          <p>€189.99</p>
          <p (click)="toggleLike('shoe5')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe5') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-95-shoes-qnH1M6/FV4710-002">View Shoe</ion-button>
        </div>
      </ion-col>

      <!-- Shoe 6 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/5bc5bc81-9e76-444f-93ce-c7e1446f17af/AIR+MAX+DN.png"/>
          <h2>Nike Air Max Dn</h2>
          <p>€169.99</p>
          <p (click)="toggleLike('shoe6')" style="cursor: pointer; color: white;">
            {{ isLiked('shoe6') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-dn-shoes-na8hi6gI/DV3337-101">View Shoe</ion-button>
        </div>
      </ion-col>
            <!-- Shoe 7 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/d21ab10d-19a5-4973-9db0-9231b49955bb/NIKE+AIR+MAX+PLUS+UTILITY.png"/>
                <h2>Nike Air Max Plus Utility</h2>
                <p>€199.99</p>
                <p (click)="toggleLike('shoe7')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe7') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/air-max-plus-utility-shoes-a4dXzncX/FJ4232-100">View Shoe</ion-button>
              </div>
            </ion-col>
      
            <!-- Shoe 8 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b1bcbca4-e853-4df7-b329-5be3c61ee057/NIKE+DUNK+LOW+RETRO.png"/>
                <h2>Nike Dunk Low Retro</h2>
                <p>€119.99</p>
                <p (click)="toggleLike('shoe8')" style="cursor: pointer; color: white;">
                  {{ isLiked('shoe8') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.nike.com/ie/t/dunk-low-retro-shoe-RPBjMHNC/DD1391-100?_gl=1*1y6xezp*_up*MQ..*_gs*MQ..&gclid=CjwKCAjwwqfABhBcEiwAZJjC3rcTunQqFK0Uf8owGEqOq95_rJPPfOgYItLBM9h_3AVwmZmM9bWnLhoC3pgQAvD_BwE&gclsrc=aw.ds&gbraid=0AAAAADq9vlOrQ5gtjsFJtr_Zb1uOwKIJX">View Shoe</ion-button>
              </div>
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>