<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clothing</ion-title>
  </ion-toolbar>

<!-- Back button for navigation -->
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Clothes 1 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <!-- Display image how the product looks like , name of the produc, price, cheak out the product and a like system-->
          <img src="https://media.boohooman.com/i/boohooman/cmm06584_black_xl_2/black-oversized-boxy-extended-neck-ofcl-man-t-shirt?$product_page_main_magic_zoom$"/>
          <h2>Oversized Boxy Extended Neck Ofcl Man T-Shirt</h2>
          <p>€15.00</p>
           <!-- Toggle Like functionality -->
          <p (click)="toggleLike('Clothe1')" style="cursor: pointer; color: white;">
            {{ isLiked('Clothe1') ? 'Liked❤️' : 'Like' }}
          </p>
           <!-- Button to view the shoe details -->
          <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/oversized-boxy-extended-neck-ofcl-man-t-shirt/CMM06584.html?color=105">View Clothe</ion-button>
        </div>
      </ion-col>

      <!-- Clothes 2 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://media.boohooman.com/i/boohooman/cmm11338_stone_xl/stone-relaxed-fit-striped-hem-open-stitch-knitted-shirt?$product_page_main_magic_zoom$"/>
          <h2>Relaxed Fit Striped Hem Open Stitch Knitted Shirt</h2>
          <p>€25.00</p>
          <p (click)="toggleLike('Clothe2')" style="cursor: pointer; color: white;">
            {{ isLiked('Clothe2') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/relaxed-fit-striped-hem-open-stitch-knitted-shirt/CMM11338.html?color=165">View Clothe</ion-button>
        </div>
      </ion-col>
            <!-- Clothes 3 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://media.boohooman.com/i/boohooman/cmm10786_navy_xl/navy-boxy-knitted-stripe-shirt?$product_page_main_magic_zoom$"/>
                <h2>Boxy Knitted Stripe Shirt</h2>
                <p>€28.00</p>
                <p (click)="toggleLike('Clothe3')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe3') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/boxy-knitted-stripe-shirt/CMM10786.html?color=148">View Clothe</ion-button>
              </div>
            </ion-col>
      
            <!-- Clothes 4 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://media.boohooman.com/i/boohooman/cmm03676_washed%20black_xl_2/washed-black-slim-flared-mmxiii-applique-gusset-jeans?$product_page_main_magic_zoom$"/>
                <h2>Slim Flared MMXIII Applique Gusset Jeans</h2>
                <p>€28.00/p>
                  <p (click)="toggleLike('Clothe4')" style="cursor: pointer; color: white;">
                    {{ isLiked('Clothe4') ? 'Liked❤️' : 'Like' }}
                  </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/slim-flared-mmxiii-applique-gusset-jeans/CMM03676.html?color=436">View Clothe</ion-button>
              </div>
            </ion-col>
             <!-- Clothes  5-->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://media.boohooman.com/i/boohooman/cmm13327_black_xl/black-oversized-v-neck-jacquard-knitted-polo?$product_page_main_magic_zoom$"/>
          <h2>Oversized V Neck Jacquard Knitted Polo</h2>
          <p>€25.00</p>
          <p (click)="toggleLike('Clothe5')" style="cursor: pointer; color: white;">
            {{ isLiked('Clothe5') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/oversized-v-neck-jacquard-knitted-polo/CMM13327.html?color=105">View Clothe</ion-button>
        </div>
      </ion-col>

      <!-- Clothes 6 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div>
          <img src="https://media.boohooman.com/i/boohooman/cmm13728_white_xl/white-oversized-guinness-license-printed-t-shirt?$product_page_main_magic_zoom$"/>
          <h2>Oversized Guinness License Printed T-Shirt</h2>
          <p>€20.00 </p>
          <p (click)="toggleLike('Clothe6')" style="cursor: pointer; color: white;">
            {{ isLiked('Clothe6') ? 'Liked❤️' : 'Like' }}
          </p>
          <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/oversized-guinness-license-printed-t-shirt/CMM13728.html?color=173">View Clothe</ion-button>
        </div>
      </ion-col>
            <!-- Clothes 7 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://media.boohooman.com/i/boohooman/cmm10512_light%20blue_xl/light-blue-relaxed-fit-ripped-knee-heart-applique-jeans?$product_page_main_magic_zoom$"/>
                <h2>Relaxed Fit Ripped Knee Heart Applique Jeans</h2>
                <p>€70.00</p>
                <p (click)="toggleLike('Clothe7')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe7') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/relaxed-fit-ripped-knee-heart-applique-jeans/CMM10512.html?color=564">View Clothe</ion-button>
              </div>
            </ion-col>
      
            <!-- Clothes 8 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://media.boohooman.com/i/boohooman/cmm11607_black_xl/relaxed-fit-black-carpenter-dungarees?$product_page_main_magic_zoom$"/>
                <h2>Relaxed Fit Black Carpenter Dungarees</h2>
                <p>€45.00</p>
                <p (click)="toggleLike('Clothe8')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe8') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.boohooman.com/eu/relaxed-fit-black-carpenter-dungarees/CMM11607.html?color=105">View Clothe</ion-button>
              </div>
            </ion-col>
           <!-- Clothes 9  -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_728106_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Nike Packable Jacket</h2>
                <p>€110</p>
                <p (click)="toggleLike('Clothe9')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe9') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/blue-nike-packable-jacket/19673743_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 10 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_728796_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>The North Face Ventacious Jacket</h2>
                <p>€110</p>
                <p (click)="toggleLike('Clothe10')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe10') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/grey-the-north-face-ventacious-jacket/19689235_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 11 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_725519_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>MONTIREX Trail Woven Jacket</h2>
                <p>€85</p>
                <p (click)="toggleLike('Clothe11')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe11') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/black-montirex-trail-woven-jacket/19680814_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 12 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_750784_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Reprimo Flight Jacket</h2>
                <p>€85</p>
                <p (click)="toggleLike('Clothe12')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe12') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/grey-reprimo-flight-jacket/19685635_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 13 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_767208_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>adidas Originals Airbrush Shorts</h2>
                <p>€45</p>
                <p (click)="toggleLike('Clothe13')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe13') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/black-adidas-originals-airbrush-shorts/19692171_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 14 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_758821_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Technicals Zaid T-Shirt</h2>
                <p>€35</p>
                <p (click)="toggleLike('Clothe14')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe14') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/white-technicals-zaid-t-shirt/19692169_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 15 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_728830_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>The North Face 24/7 Full Zip Woven Hooded Jacket</h2>
                <p>€90</p>
                <p (click)="toggleLike('Clothe15')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe15') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/black-the-north-face-247-full-zip-woven-hooded-jacket/19690309_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 16 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_732114_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Columbia Tech Nylon Jacket</h2>
                <p>€85</p>
                <p (click)="toggleLike('Clothe16')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe16') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/blue-columbia-tech-nylon-jacket/19682196_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 17 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_753041_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Nike Shell Football Crew Sweatshirt</h2>
                <p>€60</p>
                <p (click)="toggleLike('Clothe17')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe17') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/white-nike-shell-football-crew-sweatshirt/19692151_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 18 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_753057_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Nike Air Football Shirt</h2>
                <p>€50</p>
                <p (click)="toggleLike('Clothe18')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe18') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/green-nike-air-football-shirt/19690778_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 19 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_755111_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>McKenzie Essential Overhead Hoodie</h2>
                <p>€26</p>
                <p (click)="toggleLike('Clothe19')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe19') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/purple-mckenzie-essential-overhead-hoodie/19690767_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
            <!-- Clothes 20 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_734810_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>MONTIREX Alto Fade Jacket</h2>
                <p>€85</p>
                <p (click)="toggleLike('Clothe20')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe20') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/green-montirex-alto-fade-jacket/19690748_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
           <!-- Clothes 21 -->
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <img src="https://i8.amplience.net/i/jpl/jd_766665_a?qlt=92&w=750&h=957&v=1&fmt=auto"/>
                <h2>Supply & Demand Kenzor T-Shirt</h2>
                <p>€40.00</p>
                <p (click)="toggleLike('Clothe21')" style="cursor: pointer; color: white;">
                  {{ isLiked('Clothe21') ? 'Liked❤️' : 'Like' }}
                </p>
                <ion-button expand="block" fill="outline" color="primary" href="https://www.jdsports.ie/product/black-supply-and-demand-kenzor-t-shirt/19690396_jdsportsie/">View Clothe</ion-button>
              </div>
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
